/**********************************************************************\ 
   Was trying to use BEM naming convention and OOCSS coding standards
   but I have not used them before and due to time I went back to
   what I know
 **********************************************************************/
/* Author: Nic Patterson; */

/* Element Modifiers */

a {
	text-decoration: none;
	color: black;
}

ul {
	list-style-type: none;
	padding: 0;
}

li {
	float:left;
}

li a {
	display: inline-block;
	text-align: center;
	padding: 16px 16px;
}

/* Class Modifiers */
.nav {
	background-color: #EDEDED;
}

.dd {
	display: inline-block;
}

a:hover, .dd:hover .dbtn {
	background-color: #b5b5b5 /* #acdacd */;
}

.dd-content {
	min-width: 100px;
	display: none;
	position: absolute;
	background-color: #fff;
	box-shadow: -20px 20px 20px 0px rgba(0,0,0,0.2);
}

.dd-content a {
	color: black;
	padding: 5px 10px;
	display: block;
	text-align: left;	
}

.dd-content a:hover {
	background-color: #adcadc;
}
.dd:hover .dd-content {
	display:block;
}

ul.stores {
	background-color: lightgoldenrodyellow;
	margin: 10px 15px;
}

.store-location {
	float:none;
	text-align: center;
	font-size: 1.8em;
	text-decoration: underline;
	font-weight: 900;
}

.store-info {
	float:none;
	text-align: center;
}

.decorated-list {
	list-style-type: disc;
	float:none;
}

.welcome {
	text-align: center;
}

.logo {
	width: 15%;
	margin: 10px 10px;
}

.product-pic {
	width: 50%;
	margin: 5px 2px;
}

.bg-heading {
	background-color: #EDEDED;
}

.tooltip {
	display: inline;
	position: relative;
}

.tooltip:hover:after{
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(alt);
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 140px;
    height: 75px;
}

/***********************************************************\
  Media Query
************************************************************/
@media only screen and (max-width: 1024px){
	ul.stores{
		display: none;
	}
}

/***********************************************************\ 
  Everything below this comment is taken out of the html
  This was BEM stuff and provided to much hassle to learn
  in the time I have
************************************************************/
.nav__links {
	float: left;
	text-align: center;
	display: inline-block;
	padding: 16px 16px;
}

/* Not used in final product, was trying to adhere to BEM but not enough time */
.nav--no-textdecoration{
	text-decoration: none;
}

.nav__dropdowncontent {
	display: none;
	position: absolute;
}

.nav__dropdown:hover .nav__dropdowncontent{
	display: block
}